/* 

	As this stylesheet is lazy loaded these styles only apply if JavaScript is enabled

*/
.file-upload
{
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center; /* Cosmetics */
    color: #fff;
    background: #5F870E; /* Nice if your browser can do it */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 45px;
    line-height: 44px;
}

.file-upload:hover
{
    background: White;
    color: Black;
    cursor: pointer;
}

.file-upload input
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 70px; /* Loses tab index in webkit if width is set to 0 */
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload span
{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block; /* Adjust button text vertical alignment */
    font-size: 19px;
    padding-left: 5%;
}

/* Adjust the button size */
.file-upload
{
    height: 45px;
}
.file-upload, .file-upload span
{
    width: 150px;
}

.file-upload-status
{
    margin-left: 10px;
    vertical-align: middle;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 16px;
    color: #888;
    background: #f8f8f8;
    border: 3px solid #ddd;
}
