<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <appSettings>
    <!-- Site Administration Contact -->
    <add key="SiteAdministratorMail" value="noreply@mytemplate.com" />
    <add key="SiteAdministratorContactMail" value="mytemplate@mytemplate.com" />
    <add key="SiteAdministratorDisplayName" value="My Template" />
    <!--Facebook-->
    <add key="FUserId" value="" />
    <add key="FSig" value="" />
    <add key="FAPIKey" value="" />
    <add key="FApplicationSecret" value="" />
    <add key="FSessionKey" value="" />
    <add key="FSessionSecret" value="" />
    <!--Twitter-->
    <add key="TconsumerKey" value="" />
    <add key="TconsumerSecret" value="" />
    <add key="TaccessToken" value="" />
    <add key="TaccessTokenSecret" value="" />
    <add key="TUserId" value="" />
    <!--File Paths-->
    <add key="ServerPhysicalPath" value="" />
  </appSettings>
  <dataConfiguration defaultDatabase="MyTemplateConnection" />
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership defaultProvider="UserNameAsEmailSqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyTemplateConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        <add name="UserNameAsEmailSqlMembershipProvider" type="DynamicDataExtensions.CustomMembership.UserNameAsEmailSqlMembershipProvider" connectionStringName="MyTemplateConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="StoredProcedureProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MyTemplateConnection" applicationName="/" />
        <add name="StoredProcedureProfileProvider" type="DynamicDataExtensions.CustomMembership.SqlStoredProcedureProfileProvider" connectionStringName="MyTemplateConnection" setProcedure="setCustomProfileData" readProcedure="getCustomProfileData" applicationName="/" />
      </providers>
      <properties>
        <add name="FirstName" customProviderData="FirstName;varchar;80" type="string" defaultValue="[null]" />
        <add name="LastName" customProviderData="LastName;varchar;80" type="string" defaultValue="[null]" />
        <add name="Organisation" customProviderData="Organisation;varchar;200" type="string" defaultValue="[null]" />
        <add name="Education" customProviderData="Education;varchar;200" type="string" defaultValue="[null]" />
        <add name="ProfilePicture" customProviderData="ProfilePicture;image;1000000" type="System.Byte[]" defaultValue="[null]" />
        <add name="CellNo1" customProviderData="CellNo1;varchar;20" type="string" defaultValue="[null]" />
        <add name="CellNo2" customProviderData="CellNo2;varchar;20" type="string" defaultValue="[null]" />
        <add name="DirectNo" customProviderData="DirectNo;varchar;20" type="string" defaultValue="[null]" />
        <add name="SwitchBoardNo" customProviderData="SwitchBoardNo;varchar;20" type="string" defaultValue="[null]" />
        <add name="Extension" customProviderData="Extension;varchar;20" type="string" defaultValue="[null]" />
        <add name="City" customProviderData="City;varchar;80" type="string" defaultValue="[null]" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="MyTemplateConnection" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="Microsoft.Web.UI.WebControls" assembly="Microsoft.Web.DomainServices.WebControls" />
      </controls>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="Add WWW redirect">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^mytemplate\.com" />
          </conditions>
          <action redirectType="Permanent" type="Redirect" url="http://www.mytemplate.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="ImageHandler" path="ImageHandler.ashx" verb="*" type="mytemplate.ImageHandler" />
    </handlers>
	<httpCompression dynamicCompressionDisableCpuUsage="90" dynamicCompressionEnableCpuUsage="0">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <remove mimeType="*/*" />
        <add mimeType="*/*" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <directoryBrowse enabled="false" />
	<staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Vary" />
        <add name="Vary" value="Accept-Encoding" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="noreply@mytemplate.com" deliveryMethod="Network">
        <network host="mail.mytemplate.com" password="MyTemplateMailPassword" userName="noreply@mytemplate.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="MyTemplateConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=MyTemplate;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MyTemplateEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=MyTemplate;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>