<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <appSettings>
    <!-- Site Administration Contact -->
    <add key="SiteAdministratorMail" value="noreply@footstepsinfotech.com" />
    <add key="SiteAdministratorContactMail" value="admin@footstepsinfotech.com" />
    <add key="SiteAdministratorDisplayName" value="Footsteps Infotech Inc." />
    <add key="CacheConfigurationTimeout" value="0" />
    <!--Facebook-->
    <add key="FUserId" value="" />
    <add key="FSig" value="" />
    <add key="FAPIKey" value="" />
    <add key="FApplicationSecret" value="" />
    <add key="FSessionKey" value="" />
    <add key="FSessionSecret" value="" />
    <!--Twitter-->
    <add key="TconsumerKey" value="" />
    <add key="TconsumerSecret" value="" />
    <add key="TaccessToken" value="" />
    <add key="TaccessTokenSecret" value="" />
    <add key="TUserId" value="" />
    <!--File Paths-->
    <add key="ServerPhysicalPath" value="" />
  </appSettings>
  <dataConfiguration defaultDatabase="FootstepsConnection" />
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="10" />
    </authentication>
    <membership defaultProvider="UserNameAsEmailSqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="FootstepsConnection"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordFormat="Encrypted"
             applicationName="/" />
        <add name="UserNameAsEmailSqlMembershipProvider"
             type="DynamicDataExtensions.CustomMembership.UserNameAsEmailSqlMembershipProvider"
             connectionStringName="FootstepsConnection"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordFormat="Encrypted"
             passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="StoredProcedureProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="FootstepsConnection"
             applicationName="/" />
        <add name="StoredProcedureProfileProvider"
             type="DynamicDataExtensions.CustomMembership.SqlStoredProcedureProfileProvider"
             connectionStringName="FootstepsConnection"
             setProcedure="setCustomProfileData"
             readProcedure="getCustomProfileData"
             applicationName="/" />
      </providers>
      <properties>
        <add name="FirstName" customProviderData="FirstName;varchar;80" type="string" defaultValue="[null]" />
        <add name="LastName" customProviderData="LastName;varchar;80" type="string" defaultValue="[null]" />
        <add name="Education" customProviderData="Education;varchar;200" type="string" defaultValue="[null]" />
        <add name="ContactNo" customProviderData="ContactNo;varchar;20" type="string" defaultValue="[null]" />
        <add name="EmailAddress" customProviderData="EmailAddress;varchar;100" type="string" defaultValue="[null]" />
        <add name="WorkPreference" customProviderData="WorkPreference;varchar;80" type="string" defaultValue="[null]" />
        <add name="ResumeData" customProviderData="ResumeData;image;1000000" type="System.Byte[]" defaultValue="[null]" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="FootstepsConnection"
             applicationName="/"
             name="AspNetSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/"
             name="AspNetWindowsTokenRoleProvider"
             type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="Microsoft.Web.UI.WebControls" assembly="Microsoft.Web.DomainServices.WebControls" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <machineKey
        validationKey="F38FD8BD70EC55FE76198EFA7ACCC7CA5455F9FD0B375D74835308DCE559191C13F546A214C232130CEF846FA67AB719383A1112255706B3BAA7C43DF2A33431"
        decryptionKey="8E28F510E4C59C9CE1CF57F0ACBD8184EA5C1FE3D5EA951450B491D16D7CAD71"
        validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
           type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="Add WWW redirect">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^footstepsinfotech\.com" />
          </conditions>
          <action redirectType="Permanent" type="Redirect" url="http://www.footstepsinfotech.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="ImageHandler" path="ImageHandler.ashx" verb="*" type="Footsteps.ImageHandler" />
    </handlers>
    <httpCompression dynamicCompressionDisableCpuUsage="90" dynamicCompressionEnableCpuUsage="0">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <remove mimeType="*/*" />
        <add mimeType="*/*" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <directoryBrowse enabled="false" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Vary" />
        <add name="Vary" value="Accept-Encoding" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="noreply@footstepsinfotech.com" deliveryMethod="Network">
        <network host="mail.footstepsinfotech.com" password="FootstepsMail_32217" userName="noreply@footstepsinfotech.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="FootstepsConnection"
         connectionString="Data Source=.\SQLExpress;Initial Catalog=Footsteps;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
    <add name="FootstepsEntities"
         connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=Footsteps;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebMarkupMin.Core" publicKeyToken="99472178d266584b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.8.0" newVersion="0.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>